.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    gap: 20px;
    padding-top: 3%;
}

.login-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
}

.login-page-login-button {
    background-color: #5F85DB;
}

.login-page-error {
    color: #ff4a4a;
    margin: 0;
    font-size: 0.8em;
}

.login-page-container h1 {
    font-size: 2em;
}

.login-page-content {
    font-size: 0.8em;
}
