version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: eye_tracking_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: eye_tracking_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    container_name: eye_tracking_backend
    build: .  # Zakłada, że Dockerfile jest w tym samym folderze co docker-compose
    ports:
      - "8080:8080" # Wystawiamy API na świat
    environment:
      # Nadpisujemy URL bazy danych - wewnątrz sieci Docker używamy nazwy serwisu 'postgres', nie localhost!
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/eye_tracking_db
      - FILE_UPLOAD_DIR=/app/uploads
    volumes:
      # TO JEST KLUCZOWE: Mapowanie folderu z Twojego komputera do kontenera
      # Lewa strona: folder u Ciebie (utworzy się sam)
      # Prawa strona: folder w kontenerze (musi pasować do application.yaml)
      - ./uploads_data:/app/uploads
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata: