.new-test-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-test-content-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    background-color: #353941;
    border-radius: 8px;
    padding: 20px;
}

.new-test-content-container h1 {
    text-align: center;
}

.new-test-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    background-color: #26282B;
    border-radius: 8px;
}

.new-test-add-image-thumbnail {
    cursor: pointer;
}