.new-test-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-test-content-container {
    height: 80%;
    width: 83.1%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    background-color: #353941;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.new-test-content-container h1 {
    text-align: center;
    margin-bottom: 32px;
}

.new-test-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    background-color: #26282B;
    border-radius: 8px;
}

.new-test-add-image-thumbnail {
    cursor: pointer;
}

.new-test-add-image-text {
    font-weight: normal;
    cursor: auto;
}

.new-test-add-image-text:hover {
    border: 1px solid transparent;
}

.new-test-preview-image-button {
    top: 5px;
    left: 5px;
}

.new-test-remove-image-button {
    top: 5px;
    right: 5px;
}

.new-test-remove-image-button:hover {
    border-color: #ff4a4a;
}

.new-test-control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-test-control-panel {
    background-color: #26282B;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.new-test-control-panel h2 {
    margin: 0;
    text-align: center;
}

.new-test-control-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.new-test-time-input {
    width: 2.5rem;
}

.new-test-reset-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #26282B;
}

.new-test-reset-button:hover {
    border-color: #ff4a4a;
}

.new-test-reset-popup-message-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px 20px;
}

.new-test-reset-popup-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.new-test-reset-popup-message-content h2 {
    margin: 0;
    text-align: center;
}

.new-test-finish-test-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;
}

.new-test-finish-test-control p {
    margin: 0;
    font-size: 0.9rem;
    color: #bbbbbb;
    display: flex;
    align-items: center;
    min-height: 1.5em;
}

.new-test-finish-test-control p .material-symbols-outlined {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1rem;
}

.new-test-save-test-button {
    background-color: #5F85DB;
}

.new-test-save-test-button.disabled-button {
    background-color: #353941;
    cursor: not-allowed;
}

.new-test-save-test-button.disabled-button:hover {
    border-color: transparent;
}
