.create-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    height: 75px;
    border: 3px dashed #353941;
    color: #353941;
    user-select: none;
}