.create-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    width: 240px;
    height: 170px;
    border: 3px dashed #353941;
    color: #353941;
    user-select: none;
}

.create-thumbnail-container .material-symbols-outlined {
    font-size: 4em;
}