.image-thumbnail-with-buttons-container {
    width: 266px;
    height: 196px;
    border-radius: 8px;
    position: relative;
}

.image-thumbnail-buttons-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.image-thumbnail-buttons-container button {
    position: absolute;  
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.image-thumbnail-buttons-container button .material-symbols-outlined {
    font-size: 1.2em;
}