.heatmap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    max-height: 80vh;
    aspect-ratio: 16 / 9;
    border: 2px solid #353941;
    border-radius: 8px;
    position: relative;
    flex: 1;
}

.heatmap-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heatmap-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}