.heatmap-popup-container {
    aspect-ratio: 16/9;
    width: 1200px;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.heatmap-popup-close-button {
    aspect-ratio: 1/1;
    position: absolute;
    padding: 10px;
    top: -40px;
    right: -40px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heatmap-popup-close-button:hover {
    border: solid 1px #90B8F8;
}

.heatmap-popup-image-container {
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
}