.my-tests-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-tests-content-container {
    height: 80%;
    width: 83.1%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    background-color: #353941;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}

.my-tests-content-container h1 {
    text-align: center;
    margin-bottom: 32px;
}

.my-tests-message {
    text-align: center;
    font-size: 1.2rem;
}

.my-tests-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #26282B;
    border-radius: 8px;
    overflow-y: auto;
}

.my-tests-test-title {
    max-width: 256px;
    overflow-x: hidden;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
}

.my-tests-run-button {
    background-color: #5F85DB;
}