.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  background-color: #353941;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

/* .home-content-container h1 {
  text-align: center;
  margin-bottom: 32px;
}

.home-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  background-color: #26282b;
  border-radius: 8px;
}

.home-add-image-thumbnail {
  cursor: pointer;
}

.home-add-image-text {
  font-weight: normal;
  cursor: auto;
}

.home-add-image-text:hover {
  border: 1px solid transparent;
}

.home-preview-image-button {
  top: 5px;
  left: 5px;
}

.home-remove-image-button {
  top: 5px;
  right: 5px;
}

.home-remove-image-button:hover {
  border-color: #ff4a4a;
}

.home-control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-control-panel {
  background-color: #26282b;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.home-control-panel h2 {
  margin: 0;
  text-align: center;
}

.home-control-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.home-time-input {
  width: 2.5rem;
}

.home-reset-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #26282b;
}

.home-reset-button:hover {
  border-color: #ff4a4a;
}

.home-reset-popup-message-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px 20px;
}

.home-reset-popup-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.home-reset-popup-message-content h2 {
  margin: 0;
  text-align: center;
}

.home-finish-test-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 10px;
}

.home-finish-test-control p {
  margin: 0;
  font-size: 0.9rem;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  min-height: 1.5em;
}

.home-finish-test-control p .material-symbols-outlined {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 1rem;
}

.home-save-test-button {
  background-color: #5f85db;
}

.home-save-test-button.disabled-button {
  background-color: #353941;
  cursor: not-allowed;
}

.home-save-test-button.disabled-button:hover {
  border-color: transparent;
} */
