.header-container {
    background-color: #353941;
    width: 100vw;
    height: 10vh;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}

.header-logo-div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-navigation-div {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
