.test-result-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    background-color: #26282B;
    border-radius: 8px;
}

.result-images-thumbnail-with-content-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 8px;
    padding: 10px;
    border: 3px solid #353941;
    gap: 8px;
}

.result-images-thumbnail-with-content-container:hover {
    border-color: #90B8F8;
    cursor: pointer;
}