name: CI

on:
  pull_request:
    branches: ["main"]
    paths:
      - "frontend/**"
      - "backend/**"

    workflow_dispatch:

jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/frontend

  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/backend
